# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [17]:
#!pip install gmaps
!jupyter nbextension enable --py gmaps
!jupyter nbextension enable --py widgetsnbextension

Enabling notebook extension jupyter-gmaps/extension...
      - Validating: ok
Enabling notebook extension jupyter-js-widgets/extension...
      - Validating: ok

In [8]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json
import time
%matplotlib inline
#from api_keys import g_key
g_key = "API_key"
gmaps.configure(api_key=g_key)

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [4]:
weather_data_df = pd.read_csv("../output_data/cities.csv", index_col=0)
weather_data_df.head()

,City,Latitude,Longitude,Temperature,Humidity,Cloudiness,Wind Speed,Country,Date
0,flin flon,54.77,-101.86,21.20,92,90,12.75,CA,1605383410
1,payo,-3.75,103.64,74.41,94,99,1.79,ID,1605383410
2,quelimane,-17.88,36.89,75.09,69,0,4.70,MZ,1605383410
3,chuy,-33.70,-53.46,73.96,75,99,9.91,UY,1605383410
4,launceston,-41.45,147.17,51.24,87,40,6.93,AU,1605383410

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [5]:


weather_Locations = weather_data_df[["Latitude","Longitude"]]

Weather_Weight = weather_data_df["Humidity"]

#Weather_Weight.head()
#weather_Locations.head()

In [9]:
fig = gmaps.figure()
heatmap_layer = gmaps.heatmap_layer(weather_Locations, weights = Weather_Weight, dissipating=False, max_intensity = 100, point_radius = 3)
fig.add_layer(heatmap_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [10]:
narrowed_df = weather_data_df.loc[(weather_data_df["Wind Speed"] <= 10) & (weather_data_df["Cloudiness"] == 0) & \
                                   (weather_data_df["Temperature"] >= 70) & (weather_data_df["Temperature"] <= 80)].dropna()

narrowed_df

,City,Latitude,Longitude,Temperature,Humidity,Cloudiness,Wind Speed,Country,Date
2,quelimane,-17.88,36.89,75.09,69,0,4.70,MZ,1605383410
88,alyangula,-13.85,136.42,78.80,88,0,6.60,AU,1605383424
96,maningrida,-12.07,134.27,78.93,81,0,3.56,AU,1605383425
97,viedma,-40.81,-63.00,70.00,32,0,1.99,AR,1605383425
121,luangwa,-15.62,30.42,78.94,42,0,3.53,ZM,1605383430
175,lalmohan,22.34,90.74,75.15,65,0,8.84,BD,1605383440
177,porbandar,21.64,69.61,77.79,59,0,7.92,IN,1605383441
229,kalia,23.04,89.63,70.81,65,0,5.82,BD,1605383451
252,vao,-22.67,167.48,74.16,87,0,8.63,NC,1605383455
295,muscat,23.61,58.59,78.80,65,0,3.36,OM,1605383295
300,dabola,10.75,-11.12,72.45,39,0,2.17,GN,1605383464
304,caborca,30.58,-111.10,75.99,29,0,4.00,MX,1605383464
337,chandla,25.08,80.20,71.37,51,0,4.00,IN,1605383470
364,umm lajj,25.02,37.27,75.49,64,0,3.13,SA,1605383474
412,guiglo,6.55,-7.50,75.83,60,0,1.86,CI,1605383482
481,jacala,21.02,-99.18,74.39,43,0,4.74,MX,1605383495
502,salalah,17.02,54.09,75.20,64,0,2.24,OM,1605383498
538,narasannapeta,18.42,84.05,73.81,70,0,7.18,IN,1605383505
539,balotra,25.83,72.23,74.71,36,0,1.50,IN,1605383505

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [11]:
hotel_df = narrowed_df.loc[:,["City","Country","Latitude", "Longitude"]]

hotel_df["Hotel Name"] = ""
hotel_df.head()

           City Country  Latitude  Longitude Hotel Name
2     quelimane      MZ    -17.88      36.89
88    alyangula      AU    -13.85     136.42
96   maningrida      AU    -12.07     134.27
97       viedma      AR    -40.81     -63.00
121     luangwa      ZM    -15.62      30.42

In [12]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

params = {"type" : "hotel",
          "keyword" : "hotel",
          "radius" : 5000,
          "key" : g_key}

In [14]:

for index, row in hotel_df.iterrows():
    # get city name, lat, lnt from df
    lat = row["Latitude"]
    lng = row["Longitude"]
    city_name = row["City"]
    params["location"] = f"{lat},{lng}"
    response = requests.get(base_url, params=params).json()
    results = response['results']

    try:
        hotel_df.loc[index, "Hotel Name"] = results[0]['name']

    # if there is no hotel available pass
    except (KeyError, IndexError):
        pass
    
hotel_df

,City,Country,Latitude,Longitude,Hotel Name
2,quelimane,MZ,-17.88,36.89,Hotel Elite
88,alyangula,AU,-13.85,136.42,Groote Eylandt Lodge
96,maningrida,AU,-12.07,134.27,Dhukurrdji Lodge
97,viedma,AR,-40.81,-63.00,Hotel Austral Viedma
121,luangwa,ZM,-15.62,30.42,"Justfeeli Lodge, Luangwa"
175,lalmohan,BD,22.34,90.74,Arafat Hotel
177,porbandar,IN,21.64,69.61,Lords Inn Porbandar
229,kalia,BD,23.04,89.63,
252,vao,NC,-22.67,167.48,OURE TERA beach resort
295,muscat,OM,23.61,58.59,"Al Bustan Palace, A Ritz-Carlton Hotel"
300,dabola,GN,10.75,-11.12,Hotel Le Mont Sincery De Dabola
304,caborca,MX,30.58,-111.10,Hotel Elba
337,chandla,IN,25.08,80.20,Lakhera Marrige Gardan
364,umm lajj,SA,25.02,37.27,Shada Collection Mina Hotel
412,guiglo,CI,6.55,-7.50,WAHAUD HOTEL
481,jacala,MX,21.02,-99.18,Hotel Mariely
502,salalah,OM,17.02,54.09,Salalah Gardens Hotel
538,narasannapeta,IN,18.42,84.05,SPR Grand Hotel
539,balotra,IN,25.83,72.23,Hotel City Square

In [15]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longitude"]]

In [16]:
# Add marker layer and info box content ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content = hotel_info)

# Add the layer to the map
fig.add_layer(markers)

# Display Map
fig

Figure(layout=FigureLayout(height='420px'))